body
  margin: 0

.page-flexbox-wrapper
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1 1 auto
  padding: 12px


  ul.ingredients
    list-style: none

    li
      display: inline-block
      padding: 3px 6px


footer
  padding: 12px

