body
  margin: 0

.page-flexbox-wrapper
  display: flex
  min-height: 100vh
  flex-direction: column

main
  flex: 1 1 auto
  padding: 12px


  ul.ingredients
    list-style: none
    display: flex
    flex-direction: column
    height: 500px
    flex-wrap: wrap
    

    li
      padding: 3px 6px
      max-width: 120px


footer
  padding: 12px

