doctype html
html
  head
    title Hey there.
    link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css" rel="stylesheet" /
    link href="stylesheets/app.css" rel="stylesheet" type="text/css" /
  body
    .page-flexbox-wrapper
      main#content
      footer
        a.copyright href="http://www.neurodynamic.io"  &copy; Neurodynamic 2015

    script src="http://code.jquery.com/jquery-2.1.4.min.js" 
    script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js" 
    script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js" 
    script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js" 
    script src="js/app.js" type="text/jsx" 
